$darkBlue: #1F2937;     //Hero and Footer bkg. Info and quotes color. 

$creamWhite: #F9FAF8;   //Hero main text color. Header logo color.

$lightGrey: #E5E7EB;    //Hero secondary text color. Header Link color. Quotes bkg.

$lightBlue: #3882F6;    //Button color.
