//This are some useful basic styles. I advice to keep them(Except for the ones inside the body tag).
//Modify the properties and values if you need.
html {
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: $dark-blue;
  color: $cream-white;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
}

.row {
  display: flex;

  &--desktop {
    @media (min-width: 900px) {
      display: flex;
      align-items: center;
    }
  }
}
